.banner-brands-wrapper {
  padding: 105px 0 45px 0;
}
.banner-brands-wrapper h1 {
  color: #4b577e;
  font-size: 3rem;
  line-height: 3.8rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
}
.banner-brands-wrapper h1::after {
  left: 50%;
  margin-left: -20px;
  background-color: #e4e7ed;
  height: 3px;
  width: 40px;
  content: "";
  position: absolute;
  bottom: -1.92308rem;
}
.banner-brands {
  height: 200px;
  background-size: auto 100%;
  background-position: top;
  background-image: url("/assets/img/top-customers/banner-brands.png");
  background-repeat: no-repeat;
}
