.request-demo-button {
  background-color: #e64069;
  color: #fff;
  border: 2px solid #e64069;
  font-size: 16px;
  font-family: Maven, sans-serif;
  display: inline-block;
  min-width: 100px;
  height: 36px;
  line-height: 36px;
  padding: 0 24px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.request-demo-button:hover {
  background-color: transparent;
  border-color: #e64069;
  color: #707070;
}

.call-to-action-banner .request-demo-button {
  font-size: 22px;
  line-height: 50px;
  padding: 0 26px;
  height: 50px;
  margin-right: 0;
}

.call-to-action-banner .request-demo-button:hover {
  background-color: transparent;
  border-color: #e64069;
  color: #fff;
}
