.call-to-action-banner {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
  background-image: url("/assets/img/call-to-action-bg.png");
}
.call-to-action-banner::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(57, 72, 90, 0.9);
  mix-blend-mode: multiply;
}
.call-to-action-banner h3 {
  text-align: center;
  color: #6fefff;
  font-size: 29px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 4rem;
  font-weight: 300;
  padding: 0 20px;
  margin-bottom: 3rem;
  position: relative;
}
.call-to-action-banner h3:after {
  left: 50%;
  margin-left: -20px;
  background-color: #daf3f6;
  height: 3px;
  width: 40px;
  content: "";
  position: absolute;
  bottom: -0.92308rem;
}
.call-to-action-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}
.call-to-action-wrapper a {
  text-decoration: none;
}
