.current-video-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.featured-videos h3 {
  margin-bottom: 5rem;
  margin-top: 1rem;
}
.featured-videos {
  padding: 0 60px;
}
