footer {
  background-color: #fff;
  border-top: 1px solid #e4e7ed;
}
.footer-row {
  box-sizing: inherit;
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
footer .logo-wrapper {
  margin-top: -5px;
  margin-bottom: 10px;
}
.footer-column {
  width: 16.66666667%;
  box-sizing: border-box;
  right: auto;
  left: auto;
  margin-left: auto;
  float: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.footer-column ul {
  list-style: none;
  margin: 0 0 30px;
  padding: 0 10px;
}
.footer-terms-conditions ul {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-column ul li,
.footer-terms-conditions ul li {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 2rem;
  margin-right: 1rem;
}
.footer-column ul li:first-child {
  margin-bottom: 12px;
  color: #5a5a5a;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2rem;
}
.footer-column ul li a,
.footer-terms-conditions ul li a {
  color: #a3a3a3;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}
.footer-terms-conditions {
  border-top: 1px solid #e4e7ed;
}
.footer-terms-conditions ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-terms-conditions img {
  width: 70px;
  margin-top: 10px;
}
.terms-conditions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
