.toolbar-icon,
.video-icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  color: #707070;
}
.toolbar-icon span,
.video-icon span {
  background: #a3a3a3;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
}
.toolbar-icon {
  display: none;
}
.hamburguer-icon span {
  left: 0;
}
.hamburguer-icon span:nth-child(1) {
  top: 0;
}
.hamburguer-icon span:nth-child(2) {
  top: 12px;
}
.hamburguer-icon span:nth-child(3) {
  top: 12px;
}
.hamburguer-icon span:nth-child(4) {
  top: 24px;
}
.close-icon span {
  top: 12px;
}
.close-icon span:nth-child(1) {
  transform: rotate(45deg);
}
.close-icon span:nth-child(2) {
  transform: rotate(-45deg);
}

.featured-videos .slide,
.quotes-list .slide {
  height: 40px;
  width: 40px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  display: block;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  cursor: pointer;
  border-radius: 100%;
  color: transparent;
  background-color: black;
  top: 45%;
}
.featured-videos .slide:hover,
.quotes-list .slide:hover {
  outline: none;
  color: transparent;
  opacity: 0.7;
}
.slide-prev {
  left: 15px;
  transform: translateY(-50%) rotate(180deg);
}
.slide-next {
  right: 15px;
  transform: translateY(-50%);
}
