.industries-bar {
  border-top: 1px solid #e4e7ed;
  border-bottom: 1px solid #e4e7ed;
  background-color: #fff;
}
.industries-bar div {
  padding: 15px 20px;
  color: #4b577e;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  flex: 1;
  font-size: 13px;
  line-height: 16px;
  transition: background-color 0.3s ease;
}
.industries-bar div:hover {
  background: #4b577e;
  color: #fff;
}
.industries-bar div.industry-active {
  background: #4b577e;
  color: #fff;
}
