.navbar-mobile {
  margin: -5px 10px 0;
  background-color: #f9f9f9;
  border-radius: 3px;
  z-index: 101;
  position: absolute;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  right: 10px;
  left: 10px;
  top: 65px;
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #e4e7ed;
  opacity: 1;
  visibility: visible;
  height: auto;
  display: none;
}
.navbar-mobile ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.navbar-mobile li {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: #707070;
  border-top: 1px solid #e4e7ed;
  width: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 2rem;
  border-top: 1px solid #e4e7ed;
  margin: 0;
}
