nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  visibility: visible;
  opacity: 1;
  position: static;
  width: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  cursor: pointer;
  position: relative;
  width: 100%;
  white-space: nowrap;
  padding: 3px 0;
  margin-left: 1.5rem;
  width: auto;
  color: #707070;
}
nav li svg {
  display: inline-block;
  width: 14px;
  height: 9px;
  fill: #707070;
  padding-left: 8px;
}
nav li a {
  text-decoration: none;
  color: #707070;
  transition: border-bottom-color 0.2s ease-in-out;
}
