#quote-list {
  padding: 0 0 100px 0;
  height: auto;
}
.quotes-list h3 {
  padding-top: 2rem;
}
.quote-review {
  height: 700px;
  padding: 0 10px;
}
.quote-item {
  width: 320px;
}
.badge-customer {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
  position: relative;
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 16.66667px;
}
.badge-logo {
  margin: 10px 0;
  display: inline-block;
  width: 110px;
  height: 110px;
  position: relative;
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  float: right;
}
.quote-item .card-details .--no-padding {
  padding: 0;
  max-width: 212px;
}
