.toolbar-wrapper {
  background-color: #fff;
  color: #707070;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.toolbar > div:first-child {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}
.logo-wrapper {
  width: 120px;
  height: 37px;
  position: relative;
}
.logo-wrapper svg {
  width: 100%;
  height: 100%;
  fill: #00bed5;
}
