.video-player-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-video-wrapper {
  max-width: 800px;
  padding: 0 0 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
