.video-quote-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.video-quote {
  background-color: #f2f2f2;
  color: #707070;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.video-quote p {
  color: #707070;
  margin-bottom: 0.8rem;
  line-height: 2rem;
  font-weight: 600;
}
.video-quote::before {
  content: "\201C";
  position: absolute;
  left: -15px;
  top: -15px;
  font-size: 7rem;
  font-family: Times New Roman, Times, serif;
  color: #d5d9e3;
}
.side-quote ::after {
  left: -10px;
  top: 50%;
  margin: -10px 0 0;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border-radius: 4px 0 0 0;
  background: #f4f4f4;
}
.top-quote ::after {
  left: 50%;
  top: 0%;
  margin: -10px 0 0;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border-radius: 4px 0 0 0;
  background: #f4f4f4;
}
.quote-video-bottom {
  margin: 12px 12px 0 0;
}
.quote-video-bottom .video-quote-wrapper {
  width: 90%;
  padding: 1rem;
}
.quote-video-bottom .video-quote {
  margin-bottom: 0;
  padding: 1rem;
}
.quote-video-bottom .video-quote p {
  font-size: 13px;
}
.quote-video-bottom .video-quote::before {
  top: -5px;
  font-size: 5rem;
}
