#video-card-grid-wrapper {
  display: flex;
  overflow-x: auto;
  padding: 0 0 100px 0;
  height: auto;
}
.video-card-grid {
  padding: 15px 15px 0 0;
  height: auto;
  width: 33%;
  box-sizing: border-box;
  right: auto;
  left: auto;
  margin-left: auto;
  float: left;
  text-align: center;
  height: 600px;
}
.video-card-wrapper {
  width: 50%;
}
.video-card {
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15);
  transform: translateZ(0);
  transition: transform 0.35s cubic-bezier(0.02, 0.01, 0.47, 1);
  display: inline-block;
  margin: 0 12px 0 0;
}
.video-card:hover {
  transform: translateY(-5px);
  transition-delay: 0s !important;
  cursor: pointer;
}
.video-card-img {
  position: relative;
  height: 281px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
  width: 320px;
  display: inline-block;
  backface-visibility: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(240, 240, 240, 0.8);
}
.video-card-img .play-icon {
  z-index: 20;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #00bed5;
  cursor: pointer;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  border-radius: 100%;
  text-align: center;
  padding: 20px;
  opacity: 0.9;
  transition: all 0.3s ease;
  display: block;
}
.video-card-img .play-icon:hover {
  transform: matrix(1, 0, 0, 1, 0, -2);
  background-color: #00d5ef;
  opacity: 1;
}
.video-card-img .play-icon svg {
  align-self: center;
  width: 40px;
  height: 40px;
  fill: #fff;
  margin-left: 4px;
  transition: fill 0.3s ease;
}
.card-details {
  height: 92px;
  background-color: white;
  margin-top: -7px;
  padding: 12px 0;
}
.card-details div:first-child {
  width: 240px;
}
.card-details div:nth-child(2) {
  width: 80px;
}
.card-details img {
  width: 100%;
}
.card-details p {
  color: #707070;
  margin-bottom: 5px;
  margin-top: 0;
  line-height: 24px;
  padding: 0 16px;
}
.person-name {
  font-size: 1.1rem;
  font-weight: 900;
}
.person-job {
  font-size: 13px;
}
.--with-photo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
