@import url("components/navbar.css");
@import url("components/navbar-mobile.css");
@import url("components/toolbar.css");
@import url("components/banner-brands.css");
@import url("components/industries-bar.css");
@import url("components/video-card.css");
@import url("components/video-quote.css");
@import url("components/featured-videos.css");
@import url("components/quotes-list.css");
@import url("components/call-to-action-banner.css");
@import url("components/video-player.css");
@import url("components/footer.css");
@import url("components/buttons.css");
@import url("components/icons.css");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f9f9f9;
  font-family: Maven, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
h3 {
  text-align: center;
  color: #4b577e;
  font-size: 29px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 4rem;
  font-weight: 300;
  padding: 0 20px;
  margin: 0;
}
.bg-white {
  background-color: #fff;
}
.relative {
  position: relative;
}
.df-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.db-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.overflow {
  overflow-x: auto;
}
.df-grid {
  max-width: 1280px;
  margin: 0 auto;
}
.df-padding {
  padding: 0 40px;
}
.df-padding-t {
  padding-top: 30px;
}
.df-padding-b {
  padding-bottom: 30px;
}
.light-box-shadow {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

/* MOBILE BREAKPOINTS */
@media only screen and (max-width: 1200px) {
  .footer-column {
    width: 33.33%;
  }
}
@media only screen and (max-width: 1130px) {
  .video-card-grid {
    width: 50%;
    text-align: center;
  }
  .quote-video-bottom .video-quote p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 821px) {
  .hide-on-tablet {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
  .request-demo-button {
    margin-right: 1rem;
  }
  .toolbar-icon {
    display: inline-block;
  }
}
@media only screen and (max-width: 800px) {
  .video-card-wrapper {
    width: 100%;
  }
  .video-quote-wrapper {
    width: 80%;
    padding: 2em;
  }
  .current-video-wrapper {
    flex-direction: column;
  }
  .df-padding {
    padding: 0 20px;
  }
  .df-padding-b {
    padding-bottom: 20px;
  }
  .df-padding-t {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 776px) {
  .footer-column {
    width: 50%;
  }
}
@media only screen and (max-width: 750px) {
  .video-card-grid {
    width: 100%;
  }
}
@media only screen and (max-width: 680px) {
  .terms-conditions-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .banner-brands-wrapper h1 {
    color: #4b577e;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    font-weight: 300;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .banner-brands {
    height: 90px;
  }
  .featured-videos {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-column {
    width: 100%;
  }
  .footer-terms-conditions ul {
    display: inline;
  }
  .footer-terms-conditions ul li {
    display: inline-block;
  }
}
@media only screen and (max-width: 435px) {
  nav .request-demo-button {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .video-card-grid {
    padding: 0 15px 0 0;
  }
  .video-card-img {
    width: 300px;
  }
  .card-details div:nth-child(2) {
    width: 60px;
  }
  .featured-videos .slide,
  .quotes-list .slide {
    display: none;
  }
  .quote-video-bottom .video-quote::before {
    top: -20px;
    font-size: 5rem;
  }
  .featured-videos {
    padding: 0 10px;
  }
}
